PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/binladiin
JWT_SECRET=BINLADIIN_SECRET_KEY_CHANGE_THIS
VTU_API_KEY=YOUR_VTU_API_KEY
VTU_API_URL=https://vtu-provider-api.com/api
PAYSTACK_SECRET_KEY=YOUR_PAYSTACK_SECRET_KEY
PAYSTACK_PUBLIC_KEY=YOUR_PAYSTACK_PUBLIC_KEY
NODE_ENV=development
